body{
    background-color:rgb(68, 184, 139) ;
    font-family: zelda, sans-serif; 
    font-family: 'matura', sans-serif;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: zelda, sans-serif; 
    font-size: 500%;
}
.text-with-border {
    color: white; 
    font-size: 85px; /* Taille de la police */
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black; 
    text-align: center;
    font-family: zelda, sans-serif; 
}

h2{
    color: rgb(0, 0, 0);
    font-family: 'matura';
    font-size: 150%;
}
@font-face {
    font-family: zelda;
    src: url('./The\ Wild\ Breath\ of\ Zelda.otf') format('opentype'); 
}
@font-face {
    font-family: 'matura';
    src: url('./MATURASC.TTF') format('truetype');
}


