body{
    background-color:rgb(68, 184, 139) ;
    font-family: 'zelda', sans-serif; 
    font-family: 'matura', sans-serif;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: zelda, sans-serif; 
    font-size: 500%;
}
.text-with-border {
    color: white; 
    font-size: 85px; /* Taille de la police */
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black; 
    text-align: center;
    font-family: zelda, sans-serif; 
}

h2{
    color: rgb(0, 0, 0);
    font-family: 'zelda';
    font-size: 200%;
}
h3{
    font-size: 125%;
    font-family: 'Courier New', sans-serif;
}
@font-face {
    font-family: zelda;
    src: url('./The\ Wild\ Breath\ of\ Zelda.otf') format('opentype'); 
}
@font-face {
    font-family: 'matura';
    src: url('./MATURASC.TTF') format('truetype');
}
.sommaire {
    margin-left: 50px; /* Vous pouvez ajuster cette valeur selon votre besoin */
}
.container {
    display: flex;
    align-items: center;
}

.image-right {
    margin-left: auto; 
    margin-right: 1000px;
}
@media only screen and (max-width: 600px) {
    .image-right {
        margin-right: 100px; /* Distance de la marge pour les appareils mobiles */
    }
}
@media only screen and (max-width: 1000px) {
    .image-richt {
        margin-right: 500px;
    }
@media only screen and (max-width: 600px) {
    .image-right {
        width: 50px; /* Nouvelle largeur de l'image sur les appareils mobiles */
        height: auto; /* Hauteur automatique pour conserver les proportions */
    }
}



